// Primary colors
$primary-color: #2196f3;
$secondary-color: #673ab7;

// Neutral colors
$white: #fff;
$black: #000;
$disabled: #a9b2b8;

// Game colors
$coin-heads: url("../../images/heads.png");
$coin-tails: url("../../images/tails.png");

// Add funds page colors
$add-funds-background: rgba(31, 38, 82, 0.72);

// Home page colors
$home-page-background: #2196f3;
$home-page-button-text: #fff;
$home-page-button-border: 2px solid transparent;
$home-page-button-border-hover: 2px solid #2196f3;
$home-page-button-hover-background: #fff;

// Game colors
$game-background: #fff;
$game-button-background: #2196f3;
$game-button-color: #fff;
$game-button-hover-background: #fff;
$game-button-hover-color: #2196f3;
$game-shadow: rgba(31, 38, 82, 0.72);

//Modal
$modal-overlay-background-color: rgba(0, 0, 0, 0.5);
$modal-background-color: #1976d2;
$modal-close-button-color: #999;
