@mixin flexbox() {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin button-style() {
  padding: 1rem 2rem;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  color: $white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    background-color: $white;
    color: $primary-color;
  }
}

.game-background {
  background: (
    url("../../images/casino-bg.jpg") center/cover rgba(0, 0, 0, 0.6)
  );
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  font-family: monospace;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  h2 {
    margin-bottom: 2rem;
  }
  h2,
  label {
    background-color: #673ab7;
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
  }
  form,
  input {
    outline: none;
  }
}

.game-background img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
button,
a {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.balance {
  width: max-content;
  margin: auto;
}

//Result section
.text-result {
  color: $white;
  text-align: center;
  font-size: 2rem;
  animation-name: zoomInOut;
  animation-duration: 2s;
  animation-iteration-count: 3;
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
.game-result-buttons {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin: 2rem auto;

  button {
    background-color: $game-result-button-background;
    border: none;
    border-radius: 5px;
    color: $game-result-button-color;

    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    margin: 0 1rem;
    text-decoration: none;

    &:hover {
      background-color: $game-result-button-hover-background;
      color: $game-result-button-hover-color;
    }
  }
}
//Button
.btn-color {
  display: inline-block;
  margin: 1rem;
  padding: 1rem 2rem;
  background-color: $primary-color;
  border: none;
  border-radius: 5px;
  color: $white;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;

  width: 10rem;
  text-align: center;

  &:hover {
    background-color: $white;
    color: $primary-color;
  }
}
.description-button {
  display: block;
  margin: 1rem auto;
  width: fit-content;
  display: block;
}
