.coin-game-page {
  .coin-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .coin-buttons {
      display: flex;
      justify-content: center;

      button {
        background-color: transparent;
        border: none;
        height: 120px;
        margin: 1rem;
        width: 120px;

        &:hover {
          transform: scale(1.2);
        }

        &.heads {
          background-image: url("../images/heads.png");
          background-size: cover;
        }

        &.tails {
          background-image: url("../images/tails.png");
          background-size: cover;
        }
      }
    }

    p {
      font-size: 2rem;
      margin-top: 2rem;
      text-align: center;
      color: #fff;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }

    img {
      max-height: 250px;
      margin-top: 2rem;
    }
  }

  .game-result-buttons {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 2rem;

    button {
      background-color: #2196f3;
      border: none;
      border-radius: 5px;
      color: #fff;

      font-size: 1.2rem;
      font-weight: bold;
      padding: 1rem 2rem;
      margin: 0 1rem;
      text-decoration: none;

      &:hover {
        background-color: #fff;
        color: #2196f3;
      }
    }
  }

  .btn-color {
    display: inline-block;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    width: 10rem;
    text-align: center;

    &:hover {
      background-color: #fff;
      color: #2196f3;
    }
  }

  button {
    padding: 1rem 2rem;
    background-color: #2196f3;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      background-color: #fff;
      color: #2196f3;
    }
  }

  .modal-content {
    background-color: #fff;
    border-radius: 5px;
    padding: 2rem;
    max-width: 80vw;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    p {
      margin: 1rem 0;
      font-size: 1.2rem;
    }

    button {
      align-self: flex-end;
      margin-top: 2rem;
    }
  }
}
