.door-game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  h2 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .door-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      height: 300px;
    }

    .door {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 2px solid #2196f3;
      border-radius: 10px;

      font-size: 1.2rem;
      font-weight: bold;
      height: 150px;
      margin: 2rem;
      width: 150px;

      &.open {
        background-color: #2196f3;
        color: #fff;
        cursor: default;
        border-color: #fff;
      }

      &:hover:not(.open) {
        background-color: #2196f3;
        color: #fff;
      }
    }
  }
}
