@import "../base/colors.scss";
@import "../base/common.scss";
@import "../base/button.scss";
.home-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  z-index: 1;
  color: $home-page-button-text;

  h2 {
    font-size: 3rem;
  }

  a,
  button {
    background-color: $home-page-background;
    color: $home-page-button-text;
    border: 2px solid transparent;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    text-decoration: none;

    width: 200px;
    text-align: center;

    &:hover {
      background-color: $home-page-button-hover-background;
      color: $home-page-background;
      border: $home-page-button-border-hover;
      text-shadow: none;
    }
  }
  .btn-color {
    background-color: $secondary-color;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    &:hover {
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
  .btn-history {
    margin-bottom: 10px;
  }
}
