@import "../base/colors.scss";
@import "../base/common.scss";
.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    font-size: 3rem;
    margin-top: 2rem;
    font-weight: bold;
  }

  p {
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .image-container {
    margin-top: 2rem;
    width: 50%;
    max-width: 400px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .home-link {
    margin-top: 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: #3f51b5;

    &:hover {
      text-decoration: underline;
    }
  }
}
