@import "../base/colors.scss";
@import "../base/common.scss";
@import "../base/button.scss";
.number-game-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  h2 {
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 0;
  }

  .number-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .input-container {
      margin-bottom: 2rem;

      label {
        font-size: 1.2rem;
        font-weight: bold;
        margin-right: 1rem;
      }

      input {
        border: 2px solid $primary-color;
        border-radius: 5px;
        font-size: 1.2rem;
        padding: 0.5rem;
        width: 50px;
        text-align: center;
      }
    }

    button {
      @include button-style();
      background-color: $game-button-background;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 1rem;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: $game-button-hover-color;
      }

      &:disabled {
        background-color: $disabled;
        cursor: not-allowed;
      }
    }

    .link-buttons {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 2rem;

      a {
        @include button-style();
        background-color: $primary-color;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
          background-color: $game-button-hover-color;
        }
      }
    }
  }

  .description-button {
    @include button-style();
    display: block;
    margin: 1rem auto;
    width: fit-content;
    display: block;
  }

  .balance {
    width: max-content;
    margin: 1rem;
  }
  #guess-label {
    margin: 0 auto 1rem;
  }
}
